<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunny_highpix1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{823,1},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{823,355},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1063,709},{272,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bunny_highpix13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1417,1},{272,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bunny_highpix14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1097,1},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1771,1},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1371,275},{272,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bunny_highpix17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1097,355},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1725,355},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1417,549},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1,355},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1691,709},{272,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bunny_highpix3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{1,709},{272,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bunny_highpix4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{275,1},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{275,355},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{355,709},{272,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bunny_highpix7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{549,1},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{549,355},{272,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny_highpix9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,352}</string>
                <key>spriteSourceSize</key>
                <string>{272,352}</string>
                <key>textureRect</key>
                <string>{{709,709},{272,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bunny_highpix.png</string>
            <key>size</key>
            <string>{2044,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39db9c837038a7e074652e579d7330bc:cbd49875c88cdef151d06c8c31a98f19:a74a1306f4b3751b04aa6a406ab10169$</string>
            <key>textureFileName</key>
            <string>bunny_highpix.png</string>
        </dict>
    </dict>
</plist>
