<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,226}</string>
                <key>spriteSourceSize</key>
                <string>{70,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,226}</string>
                <key>spriteSourceSize</key>
                <string>{70,226}</string>
                <key>textureRect</key>
                <string>{{1,229},{70,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>logo3.png</string>
            <key>size</key>
            <string>{72,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc27a6462fb347a3ac0391e70fe54dd:00763cdcb3c7858ec4456e233c3f599b:42a1aaf5dfa7caf84db989de8d3557d7$</string>
            <key>textureFileName</key>
            <string>logo3.png</string>
        </dict>
    </dict>
</plist>
