<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{0,51},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{0,102},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{0,153},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kun.png</string>
            <key>size</key>
            <string>{32,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2438b20fcada7132014154edb08bfb5:1dafca64f50bdc9bebefbfbac8a45bc4:40c5d4ee3dcb3da0c62abfae205bd115$</string>
            <key>textureFileName</key>
            <string>kun.png</string>
        </dict>
    </dict>
</plist>
